{% extends "base.html" %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>Add Student</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">

<label>USN</label>

<input
class="form-control"
name="usn"
required>

</div>

<div class="col-md-6 mb-3">

<label>Name</label>

<input
class="form-control"
name="name"
required>

</div>

<div class="col-md-6 mb-3">

<label>Email</label>

<input
type="email"
class="form-control"
name="email"
required>

</div>

<div class="col-md-6 mb-3">

<label>Phone</label>

<input
class="form-control"
name="phone"
required>

</div>

<div class="col-md-6 mb-3">

<label>Branch</label>

<input
class="form-control"
name="branch"
required>

</div>

<div class="col-md-6 mb-3">

<label>Semester</label>

<input
type="number"
class="form-control"
name="semester"
required>

</div>

<div class="col-md-6 mb-3">

<label>Room Number</label>

<select
class="form-select"
name="room_number">

{% for room in rooms %}

<option>{{room.room_number}}</option>

{% endfor %}

</select>

</div>

</div>

<button class="btn btn-success">

Save Student

</button>

<a href="/dashboard"
class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

{% endblock %}